streamlit
pymongo
faiss-cpu
sentence-transformers
spacy
scikit-learn
pandas
numpy
matplotlib
seaborn
torch
# Add the spaCy model as a direct dependency
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
